.s_title {
  color: #3e3e3e;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  position: relative;
}
.title:after {
  position: absolute;
  left: 50%;
  content: "";
  width: 82px;
  height: 2px;
  bottom: -14px;
  background: #e4b56b;
  margin-left: -42px;
}
.image {
  box-sizing: border-box;
}
.itemBlock {
  position: relative;
  height: 201px;

  margin: 5px;
}

.i_textblock {
  background: rgba(62, 62, 62, 0.9);
  position: absolute;
  height: 56px;
  width: 333px;
  text-align: left;
  padding-left: 15px;
  top: 31px;
}
.it_text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  position: relative;
}
.it_text:before {
  position: absolute;
  right: 15px;
  content: "";
  width: 2px;
  height: 46px;
  background: #e4b56b;
}

@media screen and (max-width: 375px) {
  .i_textblock {
    top: 20px;
    max-width: 141px;
    height: 36px;

    padding-left: 6px;
  }
  .it_text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    max-width: 115px;
  }
  .it_text:before {
    height: 23px;
    right: -14px;
  }
  .itemBlock {
    height: 100%;
    margin: 5px;
  }
  .itemBlock .image img {
    max-width: 159px;
    height: 105px;
  }
  .image {
    box-sizing: border-box;
    overflow: hidden;
  }
}
